In [2]:
import pandas as pd
import numpy as np

In [5]:
#set seed for reproducibility
np.random.seed(10)

In [11]:
#Create range of dates
dates = pd.date_range(start='2025-01-01',end='2025-12-31',freq='D')
n = len(dates)
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [21]:
#Generate sample data
df = pd.DataFrame({
'date' : dates,
'sales' : np.random.randint(100,1000,size=n),
'product' : np.random.choice(['A','B','C','D'],size=n),
'cust_id' : np.random.randint(1,500,size=n),
'cost' : np.random.uniform(100,200,size=n)
})
df.head()

        date  sales product  cust_id        cost
0 2025-01-01    756       A       57  143.320797
1 2025-01-02    657       A      118  150.454004
2 2025-01-03    155       B      401  157.712530
3 2025-01-04    771       D      415  153.707807
4 2025-01-05    626       A      216  118.671030